# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
/lab1.X/build/
/lab1.X/dist/
/lab1.X/nbproject/private
/toggle_port.X/build/
/toggle_port.X/dist/
/toggle_port.X/nbproject/private
*Makefile-variables.mk
*Makefile-local-default.mk
*Makefile-impl.mk
*Makefile-genesis.properties
*Makefile-default.mk
/lab2.X/build/
/lab2.X/dist/
/lab3.X/dist/
/lab3.X/build/
/lab4.X/dist/
/lab4.X/build/